# Title
## Subtitle

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df1=pd.read_csv("data/axial_age.csv")
df2=pd.read_csv("data/social_complexity.csv")

In [4]:
df1.head()

,Date.From,NGA,1. Moralistic punishment,2. Moralizing norms,3. Promotion of prosociality,4. Omniscient supernatural beings,5. Rulers not gods,6. Equating elites and commoners,7. Equating rulers and commoners,8. Formal legal code,9. General applicability of law,10. Constraint on executive,11. Full-time bureaucrats,12. Impeachment,sum
0,200,Cambodian Basin,0.0,1.0,1.0,NaN,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,7.0
1,300,Cambodian Basin,0.0,1.0,1.0,NaN,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,7.0
2,400,Cambodian Basin,0.0,1.0,1.0,NaN,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,7.0
3,500,Cambodian Basin,0.0,1.0,1.0,NaN,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,7.0
4,600,Cambodian Basin,0.0,1.0,1.0,NaN,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,6.0

,NGA,Polity,Section,Subsection,Variable,Value From,Value To,Date From,Date To,Fact Type,Value Note,Date Note,Comment
0,Ghanaian Coast,GhAshnE,Social Complexity variables,NaN,RA,Eva Brandl,NaN,NaN,NaN,simple,simple,NaN,NaN
1,Ghanaian Coast,GhAshnE,Social Complexity variables,NaN,Editor,Daniel Mullins,NaN,NaN,NaN,simple,simple,NaN,NaN
2,Ghanaian Coast,GhAshnE,Social Complexity variables,Hierarchical Complexity,Settlement hierarchy,3,NaN,NaN,NaN,simple,simple,NaN,NaN
3,Ghanaian Coast,GhAshnE,Social Complexity variables,Hierarchical Complexity,Administrative levels,4,NaN,NaN,NaN,simple,simple,NaN,NaN
4,Ghanaian Coast,GhAshnE,Social Complexity variables,Hierarchical Complexity,Religious levels,3,NaN,NaN,NaN,simple,simple,NaN,NaN